index.html { property: index.css}


.content{
background: url('http://i58.tinypic.com/288qnvq.jpg') no-repeat center center fixed; 
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer{
    
    margin-top: 40px;
    background-color: #64a70b;
    text-align:center;
    position: relative;
    color: white;
    font-family: helvetica;
}
.whitespace{
    background-color: white;
    padding-top: -60px;
    padding-bottom: -20px;
    
}

h1{
    color: #64a70b;
    font-family: Helvetica;
}
h2{
    color: #64a70b;
    font-family: Helvetica;
}


.middle-content {
    text-align: center;
    width: 100%;
    color: black;
}

ul {
    font-family: helvetica;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;



}
p{  
    font-size: 1.125em;
    font-family: Helvetica;
    color: #64a70b;
    text-align: center;
    background-color: #64a70b
}

header {
    width: 100%;
    margin: 0 auto;
    /*background-color: red;*/
    height: 2em;
}


.copyright{
    color: black;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
}

.cheat{
   color:black;
}


/*-----------------------------*/
.sf-menu, .sf-menu * {
margin:0;
padding:0;
list-style:none;
font-family: helvetica;
font-size: 20px;
color: black;
}


/*link hide*/
.sf-menu ul {
width:10em; 
}

nav {
    width: 100%;
    margin: auto;
    
    margin: -3;
}
/*--------------------*/
/*-------------------*/



/*-----------------------*/
/*------------------------*/
/*.cheat_blog{
    position: relative;
    vertical-align: text-top;
    margin: 0 auto;
}

.cheat_blog a{
    text-decoration: none;
    color: black;
}

.cheat_blog li{
    display: block;
    text-align: center;
    margin: 0 15px 0px 0px;*/

/*}*/
/*----------------------*/
/*----------------------,*/

.tech_blog{
    position: relative;
    vertical-align: text-top;
    margin: 0 auto;
}

.tech_blog a{
    text-decoration: none;
    color: black;
    font-size: 16px;


}
.tech_blog li{
    display: block;
    text-align: center;
    margin: 0 20px 0px 0px;
}

/*------------------------------
/*------------------------------*/
.blogs {
    position: relative;
    vertical-align: text-top;
    margin: 0 auto;
}

.blogs li {
    display: block;
    text-align: center;
    margin: 0 25px 0 0; 
    font-size: 16px;


}

.blogs a  {
    text-decoration: none;
    color: black;
   margin-right: 20px;
}
/*-------------------------------*/
/*-------------------------------*/
.sf-menu .currentT {
    display: inline;

}
.sf-menu .currentC {
    display: inline;
}
.sf-menu .currentCC {
    display: inline;
}
/*link tab length*/
.sf-menu ul li {
width:100%;
text-align: center;

}

/*menu length & positon*/
.sf-menu li {
/*float:left;*/
position: relative;
margin: 0;
margin-right: 15px;
margin-left: 15px;


}

/*block size*/


/*hover*/

 
/*** pos  ***/
.sf-menu {
/*float:center;*/
margin-bottom:1em;
text-align: center;

}


.sf-menu li {
background:    white;

}
.sf-menu li li {
background:  grey;
}

.sf-menu li:hover, .blogs li:hover,  li:hover , .cheat_blog li:hover , .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .blogs a:hover, .tech_blog a:hover, .cheat_blog a:hover, .copyright p1:hover {
background:   #64a70b;
outline:    2px;
color:white;
/*text-decoration: underline;*/
}

/*Smaller computer screen*/
@media screen and (max-width: 1050px) {
    header {
        margin-bottom: 0;
    }

    figure img {
        width: 1050px;
    }

    section {
        margin-top: 3.05em;
    }

    article {
        text-decoration: none;
    }
}

/*Tablet*/
@media screen and (max-width: 830px) {
    .left, .right {
        float: none;
        margin: 1.5% auto;
    }

    #contain_head {
        font-size: 1em;
        width: 56%;
    }

    section {
        margin-top: 5%;
    }

    figure img {
        width: 100%;
    }

    article {
        margin: auto;
        width: 93%;
        height: 15em;
        top: 0;
    }

    footer {
        margin-top: 0;
    }

    section {
        margin-top: 0;
    } 

    #blog table {
        font-size: 1.65em;
        top: 2%;
    }

    a {
        text-decoration: none;
    }
}

/*iPhone landscape*/
@media screen and (max-width: 600px) {
    .main_head {
        font-size: 1.05em;
    }

    section {
        margin-bottom: 1em;
    }

    #contain_head {
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }

    #main_nav {
        margin-top: 10%;
        width: 50%;
    }

    footer {
        margin-top: 1em;
    }

    #footer_nav {
        width: 100%;
    }
}

/*iPhone vertical view*/
@media screen and (max-width: 25em) {
    #main_nav {
        margin-top: -5%;
        padding-top: 0;
        line-height: 0;
    }
}



/*-----------------------------*/






